<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uidser.ppmusic.common.mapper.AlbumSingerRelationMapper">
    <insert id="relation">
        INSERT INTO table_album_singer_relation(album_id, singer_id)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{albumId}, #{item})
        </foreach>
    </insert>
    <select id="getRelationByAlbumId" resultType="com.uidser.ppmusic.common.entity.AlbumSingerRelation">
        SELECT id,
               album_id,
               singer_id
        FROM table_album_singer_relation
        WHERE album_id = #{albumId}
    </select>
    <select id="getRelationBySingerId" resultType="com.uidser.ppmusic.common.entity.AlbumSingerRelation">
        SELECT id,
               album_id,
               singer_id
        FROM table_album_singer_relation
        WHERE singer_id = #{singerId}
    </select>
</mapper>