<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uidser.ppmusic.common.mapper.AlbumMediaRelationMapper">
    <insert id="relation">
        INSERT INTO table_album_media_relation(album_id, media_Id)
        VALUES(#{albumId}, #{mediaId})
    </insert>
    <insert id="relationList">
        INSERT INTO table_album_media_relation(album_id, media_Id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{albumId}, #{item})
        </foreach>
    </insert>
    <delete id="deleteRelation">
        DELETE FROM table_album_media_relation
        WHERE album_id = #{albumId}
    </delete>
    <select id="getByAlbumId" resultType="java.lang.Long">
        SELECT media_id
        FROM table_album_media_relation
        WHERE album_id = #{albumId}
    </select>
</mapper>