<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uidser.ppmusic.common.mapper.AlbumMediaRelationMapper">
    <insert id="relation">
        INSERT INTO table_album_media_relation(album_id, media_Id)
        VALUES(#{albumId}, #{mediaId})
    </insert>
</mapper>