<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uidser.ppmusic.security.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO table_user(username,
                               password,
                               profile_picture,
                               nickname,
                               phone,
                               is_enable,
                               email)
        VALUES(
               #{username},
               #{password},
               #{profilePicture},
               #{nickname},
               #{phone},
               #{isEnable},
               #{email}
              )
    </insert>
    <update id="changeEnableStatus">
        UPDATE table_user SET is_enable = #{status} WHERE id = #{userId}
    </update>
    <update id="edit">
        UPDATE table_user
        SET
            username = #{username},
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            profile_picture = #{profilePicture},
            nickname = #{nickname},
            phone = #{phone},
            is_enable = #{isEnable},
            update_time = #{updateTime},
            email = #{email}
        WHERE id = #{id}
    </update>
    <select id="page" resultType="com.uidser.ppmusic.common.entity.User">
        SELECT id,
               username,
               profile_picture,
               nickname,
               phone,
               is_enable,
               create_time,
               update_time,
               fans_quantity,
               logout_time,
               email
        FROM table_user
        <if test="queryVo.queryText != null and queryVo.queryText != ''">
            <where>
            (
                id = #{queryVo.queryText}
                OR username LIKE "%"#{queryVo.queryText}"%"
                OR nickname LIKE "%"#{queryVo.queryText}"%"
                OR phone LIKE "%"#{queryVo.queryText}"%"
                )
            </where>
            <if test="queryVo.startTime != null">
                and create_time >= #{queryVo.startTime}
            </if>
            <if test="queryVo.endTime != null">
                and #{queryVo.endTime} >= endTime
            </if>
        </if>
        <if test="queryText = null">
            <where>
                <if test="startTime != null">
                    create_time >= #{startTime}
                </if>
                <if test="endTime != null">
                    and #{endTime} >= endTime
                </if>
            </where>
        </if>
    </select>
    <select id="get" resultType="com.uidser.ppmusic.common.entity.User">
        SELECT
            id,
            username,
            profile_picture,
            nickname,
            phone,
            is_enable,
            create_time,
            update_time,
            fans_quantity,
            logout_time,
            email
        FROM table_user
        WHERE id = #{id}
    </select>
    <select id="getByUserName" resultType="com.uidser.ppmusic.common.entity.User">
        SELECT id,
               username,
               password,
               profile_picture,
               nickname,
               phone,
               is_enable,
               create_time,
               update_time,
               fans_quantity,
               logout_time,
               email
        FROM table_user
        WHERE username = #{username}
    </select>
</mapper>